{% extends "public_base.html" %}
{% block title %}Calcula tu Huella | Toda tu gestión de carbono, conectada{% endblock %}
{% block content %}
{% include "public/v14/hero_trust.html" %}
{% include "public/v15/audience_value.html" %}
{% include "public/v14/problem_platform.html" %}
{% include "public/v14/process_trace.html" %}
{% include "public/v15/product_proof.html" %}
{% include "public/v14/reports_decision.html" %}
{% include "public/v14/reduction_solutions.html" %}
{% include "public/v15/pricing_about.html" %}
{% include "public/v14/experience_resources_cta.html" %}
{% endblock %}
